<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>{{resume.basics.name}}</title>
        <style>
            {{{css}}}
        </style>
    </head>
    <body>
        <div class="container">

            <!-- Name, title -->
            {{#resume.basics}}
            <h3 class="sm-margin-bottom no-margin-top" style="line-height: .8;">
                <span style="font-weight: bold;">{{name}}</span>
                {{#if label}}<span style="font-size: .8em;">{{label}}</span>{{/if}}
            </h3>

            {{#if summary}}
            <p class="newspaper" style="margin-top: 20px;">{{summary}}</p>
            {{/if}}
            {{/resume.basics}}

            <!-- LEFT COLUMN -->
            <div class="col-xs-3 no-padding">
                <div class="page-header no-margin">
                    <h5 style="padding-top: 15px;">ABOUT</h5>
                </div>

                <!-- LEFT COLUMN: Address, contact information -->
                <small>
                    {{#resume.basics}}
                    <ul class="no-bullets no-padding-left no-margin-bottom">
                        <li>
                            {{#location}}
                            {{#if address}}{{address}},{{/if}}
                            {{#if countryCode}}{{countryCode}}{{/if}}
                            {{/location}}
                        </li>
                        <Li>{{#if phone}}<a href="tel:{{phone}}">{{phone}}</a>{{/if}}</Li>
                    </ul>
                    <!-- // LEFT COLUMN: Address, contact information -->


                    <!-- LEFT COLUMN: Social Networking -->
                    {{#if profiles.length}}
                    <ul class="no-bullets no-padding-left no-margin-bottom">
                        {{#each profiles}}
                        <li><a href="{{url}}">{{network}}</a></li>
                        {{/each}}
                    </ul>
                    {{/if}}
                    <ul class="no-bullets no-padding-left">
                        <li>{{#if email}}<a href="mailto:{{email}}">{{email}}</a>{{/if}}</li>
                    </ul>
                    {{/resume.basics}}
                    <!-- // LEFT COLUMN: Social Networking -->


                    <!-- LEFT COLUMN: Skills -->
                    {{#if resume.skills.length}}
                    <div class="page-header no-margin lg-margin-top">
                        <h5>SKILLS</h5>
                    </div>

                    <div class="print-together">
                        <div class="no-page-break">
                            {{#each resume.skills}}
                            <i class="text-uppercase">{{#if name}}{{name}}{{/if}}</i>
                            <br />

                            {{#if keywords.length}}
                            <ul class="no-bullets sm-padding-left">
                                {{#each keywords}}
                                <li>{{.}}</li>
                                {{/each}}
                            </ul>
                            {{/if}}
                            {{/each}}
                        </div>
                    </div>
                    {{/if}}
                    <!-- // LEFT COLUMN: Skills -->


                    <!-- LEFT COLUMN: Languages -->
                    {{#if resume.languages.length}}
                    <div class="page-header no-margin lg-margin-top">
                        <h5>Languages</h5>
                    </div>

                    <div class="print-together">
                        <div class="no-page-break">
                            {{#each resume.languages}}
                            <i class="text-uppercase">{{#if language}}{{language}}{{/if}}</i>
                            <br />
                            {{#if fluency}}<span class="sm-padding-left">{{fluency}}</span>{{/if}}
                            {{/each}}
                        </div>
                    </div>
                    {{/if}}
                    <!-- // LEFT COLUMN: Languages -->
                </small>
            </div>
            <!-- // LEFT COLUMN -->


            <!-- RIGHT COLUMN -->
            <div class="col-xs-9 no-padding-right">
                <!-- RIGHT COLUMN: Certifications -->
                {{#if resume.certifications.length}}
                <div class="page-header no-margin-top no-margin-bottom">
                    <h5>CERTIFICATIONS</h5>
                </div>

                {{#each resume.certifications}}
                <h6 class="job-title sm-margin-top no-margin-bottom">
                    {{#if startDate}}
                    <span class="education-date">
                        {{#if startDate}}{{startDate}}{{/if}} to {{#if endDate}}{{endDate}}{{else}}Present{{/if}}
                    </span>
                    {{/if}}

                    {{#if name}}{{name}}{{/if}}
                </h6>

                <div class="clearfix"></div>
                {{/each}}
                {{/if}}
                <!-- // RIGHT COLUMN: Certifications -->



                <!-- RIGHT COLUMN: Experience -->
                {{#if resume.work.length}}
                <div class="page-header no-margin-bottom lg-margin-top">
                    <h5>EXPERIENCE</h5>
                </div>

                <div class="print-together">
                    {{#each resume.work}}
                    <div class="no-page-break">
                        <h6 class="job-title sm-margin-top no-margin-bottom">
                            <span class="job-details">
                                {{#if startDate}}{{startDate}}{{/if}} - 
                                {{#ifCond endDate '!=' 'present'}}{{endDate}}
                                {{else}}Present
                                {{/ifCond}}
                            </span>

                            {{#if position}}{{position}}{{/if}}
                            {{#if name}}<br /><small style="font-size: 90%;">{{name}}</small>{{/if}}
                        </h6>

                        <div class="clearfix"></div>

                        <p class="job-information no-margin">
                            {{#if address}}{{address}}{{/if}}
                            {{#if supervisor}}- {{supervisor}}{{/if}}
                            {{#if contact_phone}}- {{contact_phone}}{{/if}}
                        </p>

                        {{#if summary}}
                        <p class="sm-margin-top newspaper">{{summary}}</p>
                        {{/if}}
                    </div>


                    {{#if highlights.length}}
                    <ul>
                        {{#each highlights}}
                        <li>{{.}}</li>
                        {{/each}}
                    </ul>
                    {{/if}}
                    {{/each}}

                </div>
                {{/if}}
                <!-- // RIGHT COLUMN: Experience -->



                <!-- RIGHT COLUMN: Education -->
                {{#if resume.education.length}}
                <div class="print-together">
                    <div class="no-page-break">
                        <div class="page-header no-margin-bottom lg-margin-top">
                            <h5>EDUCATION</h5>
                        </div>

                        {{#each resume.education}}
                        <h6 class="job-title sm-margin-top no-margin">
                            {{#if startDate}}
                            <span class="education-date">
                                {{#if startDate}}{{startDate}}{{/if}} - {{#if endDate}}{{endDate}}{{else}}Present{{/if}}
                            </span>
                            {{/if}}

                            {{#if institution}}{{institution}}{{/if}}
                        </h6>

                        <div class="clearfix"></div>

                        <p class="education-details no-margin">
                            {{#if studyType}}{{studyType}},{{/if}}
                            {{#if area}}{{area}}{{/if}}
                            {{#if score}}, GPA: {{score}}{{/if}}
                        </p>

                        <div class="clearfix"></div>

                        {{#if courses.length}}
                        <ul class="no-margin-bottom">
                            {{#each courses}}
                            <li>{{.}}</li>
                            {{/each}}
                        </ul>
                        {{/if}}

                        {{/each}}
                    </div>
                </div>
                {{/if}}
                <!-- // RIGHT COLUMN: Education -->


                <!-- RIGHT COLUMN: Experience -->
                {{#if resume.experience.length}}
                <div class="print-together">
                    <div class="no-page-break">
                        <div class="page-header no-margin-bottom lg-margin-top">
                            <h5>MILITARY EXPERIENCE</h5>
                        </div>

                        {{#each resume.experience}}
                        <h6 class="job-title sm-margin-top no-margin">
                            {{#if startDate}}
                            <span class="education-date">
                                {{#if startDate}}{{startDate}}{{/if}} to {{#if endDate}}{{endDate}}{{else}}Present{{/if}}
                            </span>
                            {{/if}}

                            {{#if organization}}{{organization}}{{/if}}
                        </h6>

                        <div class="clearfix"></div>

                        <p class="education-details no-margin">
                            {{#if position}}{{position}}{{/if}}
                            {{#if summary}}{{#if position}}<br />{{/if}}{{summary}}{{/if}}
                        </p>

                        <div class="clearfix"></div>

                        {{#if highlights.length}}
                        <ul class="no-margin-bottom">
                            {{#each highlights}}
                            <li>{{.}}</li>
                            {{/each}}
                        </ul>
                        {{/if}}

                        {{/each}}

                    </div>
                </div>
                {{/if}}
                <!-- // RIGHT COLUMN: Experience -->


                <!-- RIGHT COLUMN: Volunteer -->
                {{#if resume.volunteer.length}}
                        <div class="page-header no-margin-bottom lg-margin-top">
                            <h5>VOLUNTEER EXPERIENCE</h5>
                        </div>

                        {{#each resume.volunteer}}
                        <h6 class="job-title sm-margin-top no-margin">
                            {{#if startDate}}
                            <span class="education-date">
                                {{#if startDate}}{{startDate}}{{/if}} to {{#if endDate}}{{endDate}}{{else}}Present{{/if}}
                            </span>
                            {{/if}}

                            {{#if organization}}{{organization}}{{/if}}
                        </h6>

                        <div class="clearfix"></div>

                        <p class="education-details no-margin">
                            {{#if position}}{{position}}{{/if}}
                            {{#if summary}}{{#if position}}<br />{{/if}}{{summary}}{{/if}}
                        </p>

                        <div class="clearfix"></div>

                        {{#if highlights.length}}
                        <ul class="no-margin-bottom">
                            {{#each highlights}}
                            <li>{{.}}</li>
                            {{/each}}
                        </ul>
                        {{/if}}

                        {{/each}}
                {{/if}}
                <!-- // RIGHT COLUMN: Volunteer -->


                <!-- RIGHT COLUMN: Publications  -->
                {{#if resume.publications.length}}
                <div class="print-together">
                    <div class="no-page-break">
                        <div class="page-header no-margin-bottom lg-margin-top">
                            <h5>PUBLICATIONS</h5>
                        </div>

                        {{#each resume.publications}}
                        <h6 class="job-title sm-margin-top no-margin">
                            {{#if releaseDate}}
                            <span class="education-date">
                                {{#if releaseDate}}{{releaseDate}}{{/if}}
                            </span>
                            {{/if}}

                            {{#if name}}{{name}}{{/if}}
                        </h6>

                        <div class="clearfix"></div>

                        <p class="education-details no-margin">
                            <a href="{{website}}">{{website}}</a>
                            <br />
                            {{#if summary}}{{summary}}{{/if}}
                        </p>

                        {{/each}}

                    </div>
                </div>
                {{/if}}
                <!-- // RIGHT COLUMN: Publications -->

                <!-- RIGHT COLUMN: Experience -->
                {{#if resume.projects.length}}
                <div class="page-header no-margin-bottom lg-margin-top">
                    <h5>PROJECTS</h5>
                </div>

                <div class="print-together">
                    {{#each resume.projects}}
                    <div class="no-page-break">
                        <h6 class="job-title sm-margin-top no-margin-bottom">
                            {{#if name}}{{name}}{{/if}}
                        </h6>
                        <div class="clearfix"></div>
                        {{#if summary}}
                        <p class="sm-margin-top newspaper">{{summary}}</p>
                        {{/if}}
                    </div>
                    {{/each}}

                </div>
                {{/if}}
                <!-- // RIGHT COLUMN: Experience -->


                <!-- RIGHT COLUMN: Awards  -->
                {{#if resume.awards.length}}
                <div class="print-together">
                    <div class="no-page-break">
                        <div class="page-header no-margin-bottom lg-margin-top">
                            <h5>AWARDS</h5>
                        </div>

                        {{#each resume.awards}}
                        <h6 class="job-title sm-margin-top no-margin">
                            {{#if title}}{{title}}{{/if}}
                        </h6>

                        <div class="clearfix"></div>

                        <p class="education-details no-margin">
                            {{#if awarder}}{{awarder}}{{/if}}
                            <br />
                        </p>

                        <div class="clearfix"></div>

                        {{#if highlights.length}}
                        <ul class="no-margin-bottom">
                            {{#each highlights}}
                            <li>{{.}}</li>
                            {{/each}}
                        </ul>
                        {{/if}}

                        {{/each}}

                    </div>
                </div>
                {{/if}}
                <!-- // RIGHT COLUMN: date -->

            </div>
            <!-- // Right COLUMN -->
        </div> <!-- // Container -->
    </body>
</html>
